<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole- Music</title>
    <link rel="shorcut icon" href="/img/icon/favicon.ico" />
    <script src="https://kit.fontawesome.com/466582ee15.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
        <img src="/img/emilia-music-top.jpg" alt="background header music section">
        
        <nav>
            <ul><li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li></ul>
        </nav>
        <ul><li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
        <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
        <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li></ul>
    </header>
    <section>
        <h1>MUSIC//</h1>
        <h4>Direct links</h4>
        <ul>
            <li><a href="#album">Álbum</a></li>
            <li> <a href="#video1">Video: Organic love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
            <br>
            <br>
        </ul>
        <h2 id="album">ALBUM<br>TWIST IN MY REALITY</h2>
        <img src="/img/emilia-play-list.png" alt="Imagen del album">
        <ol>
            <li> <i class="fa-solid fa-play"></i> Organic Love | 02:40</li>
            <li> <i class="fa-solid fa-play"></i> Twist In My Reality | 02:10</li>
            <li> <i class="fa-solid fa-play"></i> Street Light | 03:28</li>
            <li> <i class="fa-solid fa-play"></i> Love Don't Live Here Anymore (Cover) | 03:49</li>
        </ol>
        <a href="#top">Go top</a> 
    </section>
        <br>
        <br>
        <br>
    <section>
        <article id="video1">
            <h2><i class= "fa-solid"></i>VIDEO<br>ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</a></p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART, Wix Films LTD</p>
            <a href="#top">Go top</a>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article id="video2">
        <h2>VIDEO<br> STREET LIGHT</h2>
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Directed by VINCE MALC & EMILIA COLE</a></p>
        <p>Edited and Filmed by NICOLAS TROY</p>
        <p>Produced by NIKI HEART, Wix Films LTD</p>
        <a href="#top">Go top</a>
        </article>
    </section>
    <br>
    <br>

</body>
</html>
